#card-container {

  text-align: center;
  width: 80%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px ;
  justify-items: center;
  margin: 30px auto;
}