ul {
  margin: 5px 10px 0 0 ;
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: end;
}

li {
  padding: 5px 10px;
  align-self: center;
  transition: 200ms background-color;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}

li:hover {
  background-color: #373737;
}