ul {
  margin: 5px 10px 0 0 ;
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: end;
}

li {
  align-self: center;
  transition: 200ms background-color;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;

}

li, .user {
  padding: 5px 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 100px;
  align-items: end;
}

.user {
  font-weight: 500;
}

li:hover {
  background-color: #373737;
}